{{template "header" .}}

<p>このサイトでは、登録した生物の位置情報を表示し生物の分布の可視化を行います。</p>
<a href="/contents">ここから、生物の登録を行うことができます。</a>
<div id="map" style="width:620px; height:400px"></div>

<script type="text/javascript">
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 37.09024, lng: 135.712891},
    });
    
    {{ range .Organisms}}
	var marker = new google.maps.Marker({
    	        position: {lat: {{.Lat}}, lng: {{.Lng}}},
    	        map: map,
    	        title: {{.Name}}
    	});
    {{ end }}
    //var map = new google.maps.Map(document.getElementById("map"), opts);
}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key={{.Mapi}}&callback=initMap">
</script>


{{template "footer"}}
