{{template "header" .}}

<div id="map" style="width:620px; height:400px"></div>

<script type="text/javascript">
function initMap() {
  var opts = {
    zoom: 5,
      center: {lat: 37.09024, lng: 135.712891},
  };
  var map = new google.maps.Map(document.getElementById("map"), opts);
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIqkDhXO8PFE1e0r7pqTVMzQU3l2WsOp0&callback=initMap">
</script>


<script type="text/javascript">
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };

    // Use the position to set the map center
    var map = new google.maps.Map(document.getElementById('map'), {
      center: pos,
      zoom: 8
    });

    // Add a marker to the map at the current position
    var marker = new google.maps.Marker({
      position: pos,
      map: map
    });
  }, function() {
    handleLocationError(true, infoWindow, map.getCenter());
  });
} else {
    var opts = {
	zoom: 5,
	center: {lat: 37.09024, lng: 135.712891},
    };
    var map = new google.maps.Map(document.getElementById("map"), opts);
}
</script>

<h1>登録<h1>
<p>登録したい場所をクリックしてください</p>
<form action="/register" method="post">
  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="lng" id="lng">
  <input type="submit" value="登録">
</form>

<script type="text/javascript">
google.maps.event.addListener(map, 'click', function(event) {
  document.getElementById("lat").value = event.latLng.lat();
  document.getElementById("lng").value = event.latLng.lng();
});
</script>

<p> <a href="/list">登録場所一覧</a> </p>



{{template "footer"}}
